$white: #FFF !default;
$blue: #35A7F8 !default;
$green: #39B118 !default;
$red: #DC4040 !default;
$orange: #FF7F45 !default;

$kpi-value-color: #afb2c1;
$kpi-text-color: #485463;
$text-color: #485463;
$border-color: #dbdde0;
